.title {
  color: #FF4081;
}

.labels {
  font-size: medium;
  font-weight: bold;
  margin-top: 15px;
  display: inline-block;
  width: 200px;
}

.user-data {
  font-weight: normal;
  margin-left: 30px;
}

mat-dialog-content {
  width: 600px;
}
