<h1 color="accent" mat-dialog-title class="title">Subscription details</h1>
<mat-dialog-content>
  <div>
    <span class="labels">Publication name:</span><span class="user-data">Data</span>
  </div>
  <div>
    <span class="labels">Date started:</span><span class="user-data">Data</span>
  </div>
  <div>
    <span class="labels">Date ended:</span><span class="user-data">Data</span>
  </div>
  <div>
    <span class="labels">Subscription period:</span><span class="user-data">Data</span>
  </div>
  <div>
    <span class="labels">Discount:</span><span class="user-data">Data</span>
  </div>
  <div>
    <span class="labels">Price per issue:</span><span class="user-data">Data</span>
  </div>
  <div>
    <span class="labels">Date created:</span><span class="user-data">Data</span>
  </div>
  <div>
    <span class="labels">Created by:</span><span class="user-data">Data</span>
  </div>
  <div>
    <span class="labels">Last update:</span><span class="user-data">Data</span>
  </div>
  <div>
    <span class="labels">Updated by:</span><span class="user-data">Data</span>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-stroked-button mat-dialog-close>Cancel</button>
  <button mat-stroked-button color="warn">Deactivate</button>
  <button mat-stroked-button color="accent">Edit</button>
</mat-dialog-actions>
