<div class="card-wrapper">
  <mat-card class="user-details">
    <mat-card-title class="title">
      Name Lastname
    </mat-card-title>
    <mat-card-content class="content">
      <div>
        <span class="labels">OIB:</span><span class="user-data">Data</span>
      </div>
      <div>
        <span class="labels">Email:</span><span class="user-data">Data</span>
      </div>
      <div>
        <span class="labels">Phone1:</span><span class="user-data">Data</span>
      </div>
      <div>
        <span class="labels">Phone2:</span><span class="user-data">Data</span>
      </div>
      <div>
        <span class="labels">Address:</span><span class="user-data">Data</span>
      </div>
      <div>
        <span class="labels">Legal entity:</span><span class="user-data">Data</span>
      </div>
      <div>
        <span class="labels">Active:</span><span class="user-data">Data</span>
      </div>
      <div>
        <span class="labels">Date created:</span><span class="user-data">Data</span>
      </div>
      <div>
        <span class="labels">Last update:</span><span class="user-data">Data</span>
      </div>
      <div>
        <span class="labels">Updated by:</span><span class="user-data">Data</span>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="warn">Deactivate</button>
      <button mat-raised-button color="accent">Edit</button>
    </mat-card-actions>
  </mat-card>
</div>
