.button-new {
  padding: 5px 25px 5px 25px;
  font-size: 16px;
}

.subtitle {
  color: #004aad;
  font-size: 22px;
  padding-bottom: 18px;
}

.main-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.add {
  width: 40%;
  margin-top: 30px;
}

.view {
  width: 60%;
}

.form-card {
  width: 90%;
}
