<div class="login-container">
  <div>
    <img class="logo" src="assets/logo%20-%20Copy.png" alt="logo">
  </div>
  <form [formGroup]="loginFormGroup">
    <div>
      <mat-form-field appearance="outline" class="login-field">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="login-field">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password">
      </mat-form-field>
    </div>
    <div class="button-container">
      <button (click)="login()" mat-raised-button color="primary" type="submit" class="login-button">
        Login
        <span *ngIf="loading"><mat-spinner></mat-spinner></span>
      </button>
    </div>
  </form>
  <div *ngIf="loginError">
    Login failed! Check your credentials and try again.
  </div>
</div>
