<h1 mat-dialog-title class="details-title">Ticket details</h1>
<mat-dialog-content>
  <div>
    <span class="card-labels">Ticket type:</span><span class="card-data">{{ticket.type}}</span>
  </div>
  <div>
    <span class="card-labels">Description:</span><span class="card-data">{{ticket.description}}</span>
  </div>
  <div>
    <span class="card-labels">Date created:</span><span
    class="card-data">{{ticket.createDate | date:'medium':'UTC+2':'hr'}}</span>
  </div>
  <div>
    <span class="card-labels">Created by:</span><span class="card-data">{{ticket.createdBy}}</span>
  </div>
  <div>
    <span class="card-labels">Last update:</span><span class="card-data">
      <span *ngIf="ticket.lastUpdate != null">{{ticket.lastUpdate | date:'medium':'UTC+2':'hr'}}</span>
      <span *ngIf="ticket.lastUpdate === null"> </span>
  </span>
  </div>
  <div>
    <span class="card-labels">Updated by:</span><span class="card-data">
      <span *ngIf="ticket.updatedBy != null">{{ticket.updatedBy}}</span>
      <span *ngIf="ticket.updatedBy === null"> </span>
  </span>
  </div>
  <div>
    <span class="card-labels">Status:</span><span class="card-data">
      <span *ngIf="ticket.resolved">
          <mat-icon color="primary">check_circle_outline</mat-icon>
      </span>
      <span *ngIf="!ticket.resolved">
          <mat-icon color="accent">error_outline</mat-icon>
      </span>
  </span>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end" class="action-buttons">
  <button mat-raised-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
