<h1 mat-dialog-title class="main-title-input">
  {{editMode ? 'Edit Subscription Type' : 'Add Subscription Type'}}
</h1>
<mat-dialog-content>
  <form [formGroup]="subscriptionTypeForm">
    <div>
      <mat-form-field appearance="outline" class="input-field" color="accent">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
        <mat-error *ngIf="subscriptionTypeForm.controls['name'].hasError('required')">Name is required</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="input-field" color="accent">
        <mat-label>Discount</mat-label>
        <input matInput formControlName="discount">
        <mat-error *ngIf="subscriptionTypeForm.controls['discount'].hasError('required')">Discount is required
        </mat-error>
        <mat-error
          *ngIf="subscriptionTypeForm.controls['discount'].hasError('min') && !subscriptionTypeForm.controls['discount'].hasError('required')">
          Please enter a valid discount
        </mat-error>
        <mat-error
          *ngIf="subscriptionTypeForm.controls['discount'].hasError('max') && !subscriptionTypeForm.controls['discount'].hasError('required')">
          Please enter a valid discount
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="input-field" color="accent">
        <mat-label>Subscription Period</mat-label>
        <mat-select formControlName="period">
          <mat-option *ngFor="let period of periodOptions" [value]="period">
            {{period}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="subscriptionTypeForm.controls['period'].hasError('required')">Period is required
        </mat-error>
      </mat-form-field>
    </div>
  </form>
  <mat-error *ngIf="formError">Check the form and try again</mat-error>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="accent" (click)="onSubmit()">Submit</button>
  <button mat-raised-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
