table {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 20px;
}

th {
  color: #004aad;
  font-size: 16px;
}

.mat-row .mat-cell {
  border-top: 1px solid;
  border-bottom: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  background-color: #e6f0fc;
}

.done {
  color: #004aad;
}

.problem {
  color: #FF4081
}
