<h1 class="main-title-input">
  {{editMode ? 'Edit Publication' : 'Add Publication'}}
</h1>
<mat-dialog-content>
  <form [formGroup]="userForm" #formDirective)="ngForm">
    <div>
      <mat-form-field appearance="outline" class="input-field" color="accent">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="input-field" color="accent">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="input-field" color="accent">
        <mat-label>Full name</mat-label>
        <input matInput formControlName="fullName">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="input-field" color="accent">
        <mat-label>Role</mat-label>
        <mat-select formControlName="role">
          <mat-option *ngFor="let role of roleOptions" [value]="role">
            {{role}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="accent" (click)="onSubmit()">Submit</button>
  <button mat-raised-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
