<h1 class="main-title" color="accent" >Add User</h1>
<mat-dialog-content>
  <form [formGroup]="userForm">
    <div>
      <mat-form-field appearance="outline" class="input-field">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="input-field">
        <mat-label>Full name</mat-label>
        <input matInput formControlName="fullName">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="input-field">
        <mat-label>Role</mat-label>
        <mat-select formControlName="role">
          <mat-option *ngFor="let role of roleOptions" [value]="role">
            {{role}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary">Submit</button>
</mat-dialog-actions>
