<h1 mat-dialog-title class="details-title">Subscription details</h1>
<mat-dialog-content class="content">
  <div>
    <span class="card-labels">Publication name:</span><span class="card-data">Data</span>
  </div>
  <div>
    <span class="card-labels">Date started:</span><span class="card-data">Data</span>
  </div>
  <div>
    <span class="card-labels">Date ended:</span><span class="card-data">Data</span>
  </div>
  <div>
    <span class="card-labels">Subscription period:</span><span class="card-data">Data</span>
  </div>
  <div>
    <span class="card-labels">Discount:</span><span class="card-data">Data</span>
  </div>
  <div>
    <span class="card-labels">Price per issue:</span><span class="card-data">Data</span>
  </div>
  <div>
    <span class="card-labels">Date created:</span><span class="card-data">Data</span>
  </div>
  <div>
    <span class="card-labels">Created by:</span><span class="card-data">Data</span>
  </div>
  <div>
    <span class="card-labels">Last update:</span><span class="card-data">Data</span>
  </div>
  <div>
    <span class="card-labels">Updated by:</span><span class="card-data">Data</span>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="primary">Edit</button>
  <button mat-raised-button color="accent">Deactivate</button>
  <button mat-raised-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
