table {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 20px;
}

th {
  color: #004aad;
  font-size: 16px;
}

.mat-row .mat-cell {
  border-top: 1px solid;
  border-bottom: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  background-color: #e6f0fc;
}

.button-new {
  margin-bottom: 20px;
  padding: 5px 25px 5px 25px;
  font-size: 16px;
}

.add-button {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.done {
  color: cadetblue;
}

.problem {
  color: orangered;
}
