<div class="card-wrapper">
  <mat-card class="user-details">
    <mat-card-title class="card-title">
      Name Lastname
    </mat-card-title>
    <mat-card-content class="card-content">
      <div>
        <span class="card-labels">OIB:</span><span class="card-data">Data</span>
      </div>
      <div>
        <span class="card-labels">Email:</span><span class="card-data">Data</span>
      </div>
      <div>
        <span class="card-labels">Phone1:</span><span class="card-data">Data</span>
      </div>
      <div>
        <span class="card-labels">Phone2:</span><span class="card-data">Data</span>
      </div>
      <div>
        <span class="card-labels">Address:</span><span class="card-data">Data</span>
      </div>
      <div>
        <span class="card-labels">Legal entity:</span><span class="card-data">Data</span>
      </div>
      <div>
        <span class="card-labels">Active:</span><span class="card-data">Data</span>
      </div>
      <div>
        <span class="card-labels">Date created:</span><span class="card-data">Data</span>
      </div>
      <div>
        <span class="card-labels">Last update:</span><span class="card-data">Data</span>
      </div>
      <div>
        <span class="card-labels">Updated by:</span><span class="card-data">Data</span>
      </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button color="primary">Edit</button>
      <button mat-raised-button color="accent">Deactivate</button>
    </mat-card-actions>
  </mat-card>
</div>
