<div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name</th>
      <td mat-cell *matCellDef="let publication"> {{publication.name}} </td>
    </ng-container>

    <ng-container matColumnDef="firstIssue">
      <th mat-header-cell *matHeaderCellDef> First issue date</th>
      <td mat-cell *matCellDef="let publication">
        {{publication.firstIssueDate | date:'shortDate':'UTC+2':'hr'}} </td>
    </ng-container>

    <ng-container matColumnDef="issuePeriod">
      <th mat-header-cell *matHeaderCellDef> Issue period</th>
      <td mat-cell *matCellDef="let publication"> {{publication.issuePeriod}} </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Price</th>
      <td mat-cell *matCellDef="let publication"> {{publication.price | currency:'EUR'}}</td>
    </ng-container>

    <ng-container matColumnDef="comesOut">
      <th mat-header-cell *matHeaderCellDef> Comes out</th>
      <td mat-cell *matCellDef="let publication"> {{publication.comesOut}} </td>
    </ng-container>

    <ng-container matColumnDef="active">
      <th mat-header-cell *matHeaderCellDef> Active</th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="element.active">
          <mat-icon color="primary">check_circle_outline</mat-icon>
        </div>
        <div *ngIf="!element.active">
          <mat-icon color="accent">highlight_off</mat-icon>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: tableColumns;" [matMenuTriggerFor]="menu"
        [matMenuTriggerData]="{publication: row}"></tr>
  </table>
</div>

<mat-menu #menu="matMenu" xPosition="after" yPosition="below">
  <ng-template matMenuContent let-publication="publication">
    <button mat-menu-item (click)="openDetailsDialog(publication)">
      <mat-icon>launch</mat-icon>
      <span>View</span>
    </button>
    <button mat-menu-item [disabled]="!isUserAdmin" (click)="openEditDialog(publication)">
      <mat-icon>edit</mat-icon>
      <span>Edit</span>
    </button>
    <button mat-menu-item [disabled]="!isUserAdmin" (click)="openDeactivateDialog(publication.id)">
      <mat-icon>archive</mat-icon>
      <span>Deactivate</span>
    </button>
  </ng-template>
</mat-menu>
