<h1 class="main-title-input">{{editMode ? 'Edit Subscription' : 'Add Subscription'}}</h1>
<mat-dialog-content>
  <form [formGroup]="subscriptionForm">
    <div>
      <mat-form-field appearance="outline" class="input-field" color="accent">
        <mat-label>Publication</mat-label>
        <mat-select formControlName="publication" [compareWith]="compareEntities">
          <mat-option *ngFor="let publication of publicationOptions" [value]="publication">
            {{publication.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="input-field" color="accent">
        <mat-label>Subscription Type</mat-label>
        <mat-select formControlName="subscriptionType" [compareWith]="compareEntities">
          <mat-option *ngFor="let type of typeOptions" [value]="type">
            {{type.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="input-field" color="accent">
        <mat-label>Start Date</mat-label>
        <input matInput [matDatepicker]="startDatePicker" formControlName="startDate">
        <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #startDatePicker></mat-datepicker>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="input-field" color="accent">
        <mat-label>End Date</mat-label>
        <input matInput [matDatepicker]="endDatePicker" formControlName="endDate">
        <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #endDatePicker></mat-datepicker>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="accent" (click)="onSubmit()">Submit</button>
  <button mat-raised-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
