<div class="subscriber-search">
  <div class="input-field">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput type="search">
    </mat-form-field>
  </div>
  <div class="input-field">
    <mat-form-field appearance="outline">
      <mat-label>OIB</mat-label>
      <input matInput type="search">
    </mat-form-field>
  </div>
  <div class="input-field">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput type="search">
    </mat-form-field>
  </div>
  <div class="input-field">
    <mat-form-field appearance="outline">
      <mat-label>Address</mat-label>
      <input matInput type="search">
    </mat-form-field>
  </div>
  <div class="input-field">
    <mat-form-field appearance="outline">
      <mat-label>City</mat-label>
      <input matInput type="search" aria-label="City" [formControl]="searchFormControl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredCityOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <div class="search-button">
    <button mat-stroked-button color="primary" type="submit">
      Search
      <mat-icon>search</mat-icon>
    </button>
  </div>
</div>
