<div>
  <img class="logo" src="assets/logo%20-%20Copy.png" alt="logo">
</div>
<mat-divider class="nav-divider"></mat-divider>

<mat-nav-list class="nav-list">
  <mat-list-item class="nav-item">
    <a>
      <mat-icon>people_outline</mat-icon>
      Subscribers
    </a>
  </mat-list-item>
  <mat-list-item class="nav-item">
    <a>
      <mat-icon>library_books</mat-icon>
      Publications
    </a>
  </mat-list-item>
  <mat-list-item class="nav-item">
    <a>
      <mat-icon>location_city</mat-icon>
      City Management
    </a>
  </mat-list-item>
  <mat-list-item class="nav-item">
    <a>
      <mat-icon>group_add</mat-icon>
      User Management
    </a>
  </mat-list-item>
</mat-nav-list>
