<h1 class="main-title">Subscriber details</h1>
<div>
  <mat-tab-group animationDuration="0ms">
    <mat-tab label="Contact Info">
      <app-subscriber-info></app-subscriber-info>
    </mat-tab>
    <mat-tab label="Subscriptions">
      <app-subscriptions></app-subscriptions>
    </mat-tab>
    <mat-tab label="Tickets">
      <app-subscriber-tickets></app-subscriber-tickets>
    </mat-tab>
    <mat-tab label="Payments">
      <app-subscriber-payments></app-subscriber-payments>
    </mat-tab>
  </mat-tab-group>
</div>
