.title {
  color: #004aad;
  margin-bottom: 30px;
}

.labels {
  font-size: medium;
  font-weight: bold;
  margin-top: 15px;
  display: inline-block;
  width: 200px;
}

.user-data {
  font-weight: normal;
  margin-left: 30px;
}

.card-wrapper {
  max-width: 800px;
  margin-top: 50px;
}

.user-details {
  /*border-style: solid;*/
  /*border-width: 1px;*/
  /*border-color: #6781a1;*/
  border: solid 1px rgba(0, 0, 0, 0.2);
}
