<div class="button-new-wrapper table-margin">
  <button mat-raised-button color="primary" class="button-new" (click)="openAddDialog()">Add New Subscription</button>
</div>

<div class="table-loading" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="!loading">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="publicationName">
      <th mat-header-cell *matHeaderCellDef> Publication Name</th>
      <td mat-cell *matCellDef="let subscription"> {{subscription.publicationName}} </td>
    </ng-container>

    <ng-container matColumnDef="subscriptionType">
      <th mat-header-cell *matHeaderCellDef> Subscription Type</th>
      <td mat-cell *matCellDef="let subscription"> {{subscription.subscriptionTypeName}} </td>
    </ng-container>

    <ng-container matColumnDef="dateStarted">
      <th mat-header-cell *matHeaderCellDef> Date Started</th>
      <td mat-cell *matCellDef="let subscription"> {{subscription.dateStarted | date:'shortDate':'UTC+2':'hr'}} </td>
    </ng-container>

    <ng-container matColumnDef="dateEnded">
      <th mat-header-cell *matHeaderCellDef> Date Ended</th>
      <td mat-cell *matCellDef="let subscription">
        <div *ngIf="subscription.dateEnded != null">{{subscription.dateEnded | date:'shortDate':'UTC+2':'hr'}}</div>
      </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Price</th>
      <td mat-cell *matCellDef="let subscription"> {{subscription.price | currency:'EUR'}} </td>
    </ng-container>

    <ng-container matColumnDef="discount">
      <th mat-header-cell *matHeaderCellDef> Discount</th>
      <td mat-cell *matCellDef="let subscription"> {{subscription.subscriptionTypeDiscount + '%'}} </td>
    </ng-container>

    <tr class="mat-row" *matNoDataRow>
      <td colspan="6" class="no-results">
        <span class="no-results-text">No results found</span>
        <span>
          <img class="no-results-icon" src="assets/no-results-found.png" alt="noresults">
        </span>
      </td>
    </tr>

    <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: tableColumns;" (click)="openDetailsDialog(row)"></tr>
  </table>
</div>
