<div class="card-wrapper">
  <mat-card class="publication-details mat-elevation-z4">
    <mat-card-title class="title">
      Publication Name
    </mat-card-title>
    <mat-card-content class="content">
      <div>
        <span class="labels">First issue:</span><span class="publication-data">Data</span>
      </div>
      <div>
        <span class="labels">Issue period:</span><span class="publication-data">Data</span>
      </div>
      <div>
        <span class="labels">Comes out:</span><span class="publication-data">Data</span>
      </div>
      <div>
        <span class="labels">Next issue:</span><span class="publication-data">Data</span>
      </div>
      <div>
        <span class="labels">Description:</span><span class="publication-data">Data</span>
      </div>
      <div>
        <span class="labels">Active:</span><span class="publication-data">Data</span>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">Edit</button>
      <button mat-raised-button color="primary">Archive</button>
    </mat-card-actions>
  </mat-card>
</div>
