.title {
  color: #004aad;
  margin-bottom: 30px;
}

.labels {
  font-size: medium;
  font-weight: bold;
  margin-top: 15px;
  display: inline-block;
  width: 200px;
}

.publication-data {
  font-weight: normal;
  margin-left: 30px;
}

.card-wrapper {
  width: 100%;
}
