.city-search {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
}

.search-button {
  margin-top: 18px;
}

.mat-stroked-button:hover {
  background-color: #e6f0fc;
}

.input-field {
  margin-right: 15px;
}

mat-form-field {
  width: 800px;
}
