.subscriber-search {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
}

.input-field {
  margin-right: 15px;
}

/*button {*/
/*  padding: 7px 30px 7px 30px;*/
/*}*/

.search-button {
  margin-top: 18px;
}

.mat-stroked-button:hover {
  background-color: #e6f0fc;
}
