<div class="table-loading" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>

<div class="subsciber-table" *ngIf="!loading">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name</th>
      <td mat-cell *matCellDef="let subscriber">
        <div *ngIf="subscriber.contactInfo?.legalEntity">{{subscriber.contactInfo?.companyName}}</div>
        <div *ngIf="!subscriber.contactInfo?.legalEntity">{{subscriber.contactInfo?.firstName + ' ' + subscriber.contactInfo?.lastName}}</div>
      </td>
    </ng-container>

    <ng-container matColumnDef="oib">
      <th mat-header-cell *matHeaderCellDef> OIB</th>
      <td mat-cell *matCellDef="let subscriber"> {{subscriber.contactInfo?.oib}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email</th>
      <td mat-cell *matCellDef="let subscriber"> {{subscriber.contactInfo?.email}} </td>
    </ng-container>

    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef> Phone</th>
      <td mat-cell *matCellDef="let subscriber"> {{subscriber.contactInfo?.phone1}} </td>
    </ng-container>

    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef> Address</th>
      <td mat-cell *matCellDef="let subscriber"> {{subscriber.contactInfo?.billingAddress}} </td>
    </ng-container>

    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef> City</th>
      <td mat-cell *matCellDef="let subscriber"> {{subscriber.contactInfo?.city.name}} </td>
    </ng-container>

    <ng-container matColumnDef="active">
      <th mat-header-cell *matHeaderCellDef> Active</th>
      <td mat-cell *matCellDef="let subscriber">
        <div *ngIf="subscriber.active">
          <mat-icon color="primary">check_circle_outline</mat-icon>
        </div>
        <div *ngIf="!subscriber.active">
          <mat-icon color="accent">highlight_off</mat-icon>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: tableColumns;" [matMenuTriggerFor]="menu" [matMenuTriggerData]="row"></tr>
  </table>
</div>

<mat-menu #menu="matMenu" xPosition="after" yPosition="below">
  <ng-template matMenuContent let-aliasMenuItems="id">
    <button mat-menu-item routerLink="/subscribers/{{(aliasMenuItems)}}">
      <mat-icon>launch</mat-icon>
      <span>View</span>
    </button>
    <button mat-menu-item routerLink="/subscriber/edit/{{aliasMenuItems}}">
      <mat-icon>edit</mat-icon>
      <span>Edit</span>
    </button>
  </ng-template>
</mat-menu>
