<h1 mat-dialog-title class="main-title-input">
  {{editMode ? 'Edit Publication' : 'Add Publication'}}
</h1>
<mat-dialog-content>
  <form [formGroup]="publicationForm">
    <div>
      <mat-form-field appearance="outline" class="input-field" color="accent">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
        <mat-error *ngIf="publicationForm.controls['name'].hasError('required')">Name is required</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="input-field" color="accent">
        <mat-label>First issue</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="firstIssue">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="publicationForm.controls['firstIssue'].hasError('required')">First issue date is required</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="input-field" color="accent">
        <mat-label>Issue period</mat-label>
        <mat-select formControlName="issuePeriod">
          <mat-option *ngFor="let period of periodOptions" [value]="period">
            {{period}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="publicationForm.controls['issuePeriod'].hasError('required')">Issue period is required</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="input-field" color="accent">
        <mat-label>Price</mat-label>
        <input type="number" matInput formControlName="price">
        <mat-error *ngIf="publicationForm.controls['price'].hasError('required')">Price is required</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="input-field" color="accent">
        <mat-label>Comes out</mat-label>
        <mat-hint>e.g. ''Every other Wednesday''</mat-hint>
        <input matInput formControlName="comesOut">
        <mat-error *ngIf="publicationForm.controls['comesOut'].hasError('required')">Comes out is required</mat-error>
      </mat-form-field>
    </div>
  </form>
  <mat-error *ngIf="formError">Check the form and try again</mat-error>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="accent" (click)="onSubmit()">Submit</button>
  <button mat-raised-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
