<!--<button mat-flat-button class="ms-4 mt-4 back" (click)="goBack()">Back</button>-->

<div class="main-container">
  <h1 class="main-title">{{editMode ? 'Edit Publication' : 'Add Publication'}}</h1>
  <form [formGroup]="publicationForm">
    <div>
      <mat-form-field appearance="outline" class="input-field">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="input-field">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="input-field">
        <mat-label>Issue period</mat-label>
        <mat-select formControlName="issuePeriod">
          <mat-option *ngFor="let period of periodOptions" [value]="period">
            {{period}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="input-field">
        <mat-label>Comes out</mat-label>
        <mat-hint>e.g. ''Every other Wednesday''</mat-hint>
        <input matInput formControlName="comesOut">
      </mat-form-field>
    </div>
    <div class="button-new-wrapper pe-4">
      <button mat-raised-button color="primary" class="mt-3">Submit</button>
    </div>
  </form>
</div>

