<h1 class="main-title">{{editMode ? 'Edit Subscription' : 'Add Subscription'}}</h1>
<mat-dialog-content>
  <form [formGroup]="subscriptionForm">
    <div>
      <mat-form-field appearance="outline" class="input-field">
        <mat-label>Publication</mat-label>
        <mat-select formControlName="publication">
          <mat-option *ngFor="let publication of publicationOptions" [value]="publication">
            {{publication}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="input-field">
        <mat-label>Subscription Type</mat-label>
        <mat-select formControlName="subscriptionType">
          <mat-option *ngFor="let type of typeOptions" [value]="type">
            {{type}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="input-field">
        <mat-label>Start Date</mat-label>
        <input matInput [matDatepicker]="startDatePicker">
        <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #startDatePicker></mat-datepicker>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="input-field">
        <mat-label>End Date</mat-label>
        <input matInput [matDatepicker]="endDatePicker">
        <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #endDatePicker></mat-datepicker>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary">Submit</button>
</mat-dialog-actions>
