<h1 color="accent" mat-dialog-title class="title">Ticket details</h1>
<mat-dialog-content>
  <div>
    <span class="labels">Ticket type:</span><span class="user-data">Data</span>
  </div>
  <div>
    <span class="labels">Status:</span><span class="user-data">Data</span>
  </div>
  <div>
    <span class="labels">Description:</span><span class="user-data">Data</span>
  </div>
  <div>
    <span class="labels">Date created:</span><span class="user-data">Data</span>
  </div>
  <div>
    <span class="labels">Created by:</span><span class="user-data">Data</span>
  </div>
  <div>
    <span class="labels">Last update:</span><span class="user-data">Data</span>
  </div>
  <div>
    <span class="labels">Updated by:</span><span class="user-data">Data</span>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-stroked-button color="primary">Edit</button>
  <button mat-stroked-button color="accent">Resolve</button>
  <button mat-stroked-button color="warn">Delete</button>
  <button mat-stroked-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
